<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <div class="logout-block" th:fragment="logout(URI)">
    <th:block th:if="${URI == '/admin'}">
      <button><a th:href="@{/user}">To user page</a></button>
      <button><a th:href="@{/logout}">Log out</a></button>
    </th:block>
    <th:block th:if="${URI == '/user'}">
      <button sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">To admin page</a></button>
      <button><a th:href="@{/logout}">Log out</a></button>
    </th:block>
  </div>
</body>
</html>