<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <div class="update-user-block" th:fragment="update">
    <div class="action-title">
      <div>Update user</div>
    </div>
    <form method="post" th:action="@{/users/update}" id="update_form">
      <table>
        <tbody>
        <tr>
          <td><label for="update_id">Id</label></td>
          <td><input type="number" name="id" id="update_id"></td>
        </tr>
        <tr>
          <td><label for="update_name">Name</label></td>
          <td><input type="text" name="name" id="update_name"></td>
        </tr>
        <tr>
          <td><label for="update_password">Password</label></td>
          <td><input type="text" name="password" id="update_password"></td>
        </tr>
        <tr>
          <td>Role</td>
          <td>
            <label><span>Admin</span><input type="checkbox" name="roles[][role]" value="ROLE_ADMIN"></label>
            <label><span>User</span><input type="checkbox" name="roles[][role]" value="ROLE_USER"></label>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Submit</button></td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</body>
</html>