<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xtra="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <div class="users-table-block" th:fragment="users_table(URI)">
    <div class="action-title">
      <div>All users table</div>
    </div>
    <table class="users-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
        <th>Role</th>
      </tr>
      </thead>
      <tbody>
        <th:block th:each="user : ${users}" th:if="${URI == '/admin'}">
          <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.password}"></td>
            <td xtra:strip-whitespace="deep">
              <th:block th:each="role : ${user.roles}" >
                <span class="role-span" th:text="${#strings.replace(role.role, 'ROLE_', '')}"></span>
              </th:block>
            </td>
          </tr>
        </th:block>
        <tr th:if="${#httpServletRequest.requestURI == '/user'}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.name}"></td>
          <td th:text="${user.password}"></td>
          <td xtra:strip-whitespace="deep">
            <th:block th:each="role : ${user.roles}" >
              <span class="role-span" th:text="${#strings.replace(role.role, 'ROLE_', '')}"></span>
            </th:block>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>