<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xtra="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="URI=${#httpServletRequest.requestURI}">
<head>
    <meta charset="UTF-8">
    <title th:text="${URI} == '/admin' ? 'Admin' : 'User'"></title>
    <script th:src="@{/frameworks/jquery/jquery.min.js}"></script>
    <script th:if="${URI == '/admin'}" th:src="@{/frameworks/jquery/jquery.serialize-object.min.js}"></script>
    <script th:src="@{/frameworks/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/frameworks/bootstrap/js/bootstrap-table.min.js}"></script>
    <script th:if="${URI == '/admin'}" th:src="@{/frameworks/iziToast/iziToast.min.js}"></script>
    <script th:if="${URI == '/admin'}" th:src="@{/admin/script.js}"></script>

    <link th:href="@{/frameworks/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/frameworks/bootstrap/css/bootstrap-table.min.css}" type="text/css" rel="stylesheet">
    <link th:if="${URI == '/admin'}" th:href="@{/frameworks/iziToast/iziToast.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/style.css}" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/spring-logo.ico}"/>
</head>
<body>
    <main>
        <div class="header">
            <div class="header-flex">
                <div class="main-title">
                    <span sec:authentication="name"></span>
                    <span>with roles:</span>
                    <th:block th:each="role : ${#authentication.authorities}">
                        <span th:text="${#strings.replace(role.getAuthority(), 'ROLE_', '')}"></span>
                    </th:block>
                </div>
                <div class="main-logout">
                    <a th:href="@{/logout}" style="color: inherit">Logout</a>
                </div>
          </div>
      </div>
        <div class="row" th:if="${URI == '/admin'}">
            <th:block sec:authorize="hasRole('ADMIN') and hasRole('USER')">
                <div class="col-2 ver-menu-cont">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#" role="tab" aria-selected="true">Admin</a>
                        <a class="nav-link" href="/user" role="tab" aria-selected="false">User</a>
                    </div>
                </div>
                <div class="col-10 hor-menu-cont bg-light">
                    <div class="tab-content">
                        <div th:replace="fragments/tab_admin :: tab_admin(${true})"></div>
                    </div>
                </div>
            </th:block>
            <th:block sec:authorize="hasRole('ADMIN') and not hasRole('USER')">
                <div class="col-2 ver-menu-cont">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#" role="tab" aria-selected="true">Admin</a>
                    </div>
                </div>
                <div class="col-10 hor-menu-cont bg-light">
                    <div class="tab-content">
                        <div th:replace="fragments/tab_admin :: tab_admin(${true})"></div>
                    </div>
                </div>
            </th:block>
            <div th:replace="fragments/modal_update :: modal_update"></div>
            <div th:replace="fragments/modal_delete :: modal_delete"></div>
        </div>
        <div class="row" th:if="${URI == '/user'}" >
            <th:block sec:authorize="hasRole('ADMIN') and hasRole('USER')">
                <div class="col-2 ver-menu-cont">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link"  href="/admin" role="tab" aria-selected="false">Admin</a>
                        <a class="nav-link active" data-toggle="pill" href="#" role="tab" aria-selected="true">User</a>
                    </div>
                </div>
                <div class="col-10 hor-menu-cont bg-light">
                    <div class="tab-content">
                        <div th:replace="fragments/tab_user :: tab_user(${true})"></div>
                    </div>
                </div>
            </th:block>
            <th:block sec:authorize="hasRole('USER') and not hasRole('ADMIN')">
                <div class="col-2 ver-menu-cont">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#" role="tab" aria-selected="true">User</a>
                    </div>
                </div>
                <div class="col-10 hor-menu-cont bg-light">
                    <div class="tab-content">
                        <div th:replace="fragments/tab_user :: tab_user(${true})"></div>
                    </div>
                </div>
            </th:block>
        </div>
    </main>
</body>
</html>