<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="URI=${#httpServletRequest.requestURI}">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
  <th:block sec:authorize="hasRole('ADMIN')">
    <script th:if="${URI == '/admin'}" th:src="@{/jquery/jquery.min.js}"></script>
    <script th:if="${URI == '/admin'}" th:src="@{/jquery/jquery.serialize-object.min.js}"></script>
    <script th:if="${URI == '/admin'}" th:src="@{/admin/script.js}"></script>
    <link th:if="${URI == '/admin'}" th:href="@{/admin/style.css}" type="text/css" rel="stylesheet">
  </th:block>
  <link th:if="${URI == '/user'}" type="text/css" rel="stylesheet" th:href="@{/user/style.css}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{spring-logo.ico}"/>
</head>
<body>
  <main class="tables-block">
    <div th:replace="fragments/auth_info :: auth_info"></div>
    <div th:replace="fragments/users_table :: users_table(${URI})"></div>
    <th:block sec:authorize="hasRole('ADMIN')" th:if="${URI == '/admin'}">
      <div th:replace="fragments/add :: add"></div>
      <div th:replace="fragments/update :: update"></div>
      <div th:replace="fragments/delete :: delete"></div>
    </th:block>
    <div th:replace="fragments/logout :: logout(${URI})"></div>
  </main>
</body>
</html>